In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
data_df = pd.read_csv('energydata_complete.csv')

In [3]:
data_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
data_df.drop(columns=['date', 'lights'], inplace=True)

In [5]:
scaler = MinMaxScaler()

norm_df = pd.DataFrame(scaler.fit_transform(data_df), columns=data_df.columns)

In [6]:
norm_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [7]:
features_df = norm_df.drop(columns='Appliances')

target_df = norm_df['Appliances']

In [8]:
x_train, x_test, y_train, y_test = train_test_split(features_df, target_df, test_size=0.3, random_state=42)

### Q12

In [9]:
x_train_T2 = x_train[['T2']]

y_train_T6 = x_train[['T6']]

x_test_T2 = x_test[['T2']]

y_test_T6 = x_test[['T6']]

In [10]:
model = LinearRegression()

In [11]:
model.fit(x_train_T2, y_train_T6)

y_pred_T6 = model.predict(x_test_T2)

In [12]:
r2_score_ = r2_score(y_test_T6, y_pred_T6)

round(r2_score_, 2)

0.64

### Q13

In [22]:
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

In [23]:
mae = mean_absolute_error(y_test, y_pred)

round(mae, 2)

0.05

### Q14

In [36]:
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

rss = np.sum(np.square(y_test - y_pred))

round(rss, 2)

45.35

### Q15

In [37]:
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))

round(rmse, 3)

0.088

### Q16

In [38]:
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

r2 = r2_score(y_test, y_pred)

round(r2, 2)

0.15

### Q17

In [40]:
model.fit(x_train, y_train)

def get_feature_weights(model, feature, column_name):
    weights_array = pd.Series(model.coef_, feature.columns).sort_values()
    weights_df = pd.DataFrame(weights_array).reset_index()
    weights_df.columns = ['Features', column_name]
    weights_df[column_name].round(3)
    return weights_df

In [42]:
feature_weights = get_feature_weights(model, x_train, 'Linear_model_weight')

feature_weights

       Features  Linear_model_weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

RH_2 and RH_1 have the lowest and highest weights respectively

### Q18

In [43]:
ridge_model = Ridge(alpha=0.4)

ridge_model.fit(x_train, y_train)

ridge_model_prediction = ridge_model.predict(x_test)

ridge_rmse = round(np.sqrt(mean_squared_error(y_test, ridge_model_prediction)), 3)

In [44]:
ridge_rmse

0.088

The rmse value did not change

### Q19

In [45]:
lasso_model = Lasso(alpha=0.001)

lasso_model.fit(x_train, y_train)

def get_feature_weights(model, feature, column_name):
    weights_array = pd.Series(model.coef_, feature.columns).sort_values()
    weights_df = pd.DataFrame(weights_array).reset_index()
    weights_df.columns = ['Features', column_name]
    weights_df[column_name].round(3)
    return weights_df

In [51]:
lasso_weights_df = get_feature_weights(lasso_model, x_train, 'Lasso_model_weights')

lasso_weights_df[lasso_weights_df['Lasso_model_weights'] !=0]

     Features  Lasso_model_weights
0      RH_out            -0.049557
1        RH_8            -0.000110
24  Windspeed             0.002912
25       RH_1             0.017880

In [50]:
len(lasso_weights_df[lasso_weights_df['Lasso_model_weights'] !=0])

4

### Q20

In [52]:
lasso_model_prediction = lasso_model.predict(x_test)

lasso_rmse = round(np.sqrt(mean_squared_error(y_test, lasso_model_prediction)), 3)

In [53]:
lasso_rmse

0.094