In [1]:
import numpy as np
import pandas as pd

In [59]:
data_df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='ISO-8859-1')

### Q1

In [55]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']


pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

### Q2

In [57]:
array  = np.array([[94, 89, 63], [93, 92, 48], [92, 94, 56]])
array

array([[94, 89, 63],
       [93, 92, 48],
       [92, 94, 56]])

In [58]:
array[:2, 1:]

array([[89, 63],
       [92, 48]])

### Q3  

Matplotlib ==> library

Math ==> module

Seaborn ==> package

Pandas ==> package

### Q4

In [60]:
df = data_df

df.shape

(60943, 12)

### Q5

In [61]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

### Q6

In [62]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

### Q7

In [63]:
y = [(2, 4), (7, 8), (1, 5, 9)]

x = y[1][-1]

z = y[1][1]

print(x)

print(z)

8
8

### Q8

Tuple ==> ordered

List ==> ordered

Dictionary ==> unordered

Set ==> unordered

### Q9

Dataframe with dimensions (100,3) ==> 3 features, 100 observations

### Q10

In [64]:
df.iloc[ : ]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

### Q11

In [73]:
a = data_df.groupby('Item').sum()

b = a.loc['Animal fats', 'Y2014']

c = a.loc['Animal fats', 'Y2018']

print(f'Sum of Animal fats in 2014: {b}')

print(f'Sum of Animal fats in 2018: {c}')

Sum of Animal fats in 2014: 209460.54
Sum of Animal fats in 2018: 269648.27

### Q12

In [82]:
a = data_df.describe()

b = round(a.loc['mean', 'Y2015'], 3)

c = round(a.loc['std', 'Y2015'], 3)

print(f'Mean of dataset: {b}')

print(f'Mean of dataset: {c}')

Mean of dataset: 135.236
Mean of dataset: 1603.404

### Q13

In [85]:
null_2016 = data_df.isnull().sum()['Y2016']

total_2016 = len(data_df['Y2016'])

percent = round((null_2016/total_2016)*100, 2)

print(f'Missing data in 2016: {null_2016}')

print(f'Percentage of missing data in 2016: {percent}')

Missing data in 2016: 1535
Percentage of missing data in 2016: 2.52

### Q14

In [114]:
data_df.corr().loc['Element Code'][['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sort_values(ascending=False)

Y2014    0.024457
Y2018    0.024279
Y2017    0.024254
Y2015    0.023889
Y2016    0.023444
Name: Element Code, dtype: float64

### Q15

In [109]:
a = data_df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

b = a.loc['Import Quantity'].sort_values(ascending=False)

b

Y2017    294559.09
Y2018    287997.09
Y2016    286582.78
Y2014    274144.48
Y2015    267018.46
Name: Import Quantity, dtype: float64

### Q16

In [103]:
data_df.groupby('Element')['Y2014'].sum().loc['Production']

1931287.75

### Q17

In [107]:
data_df[['Y2018', 'Element']].groupby('Element').sum().sort_values(by='Y2018', ascending=False).iloc[0]

Y2018    2161192.1
Name: Domestic supply quantity, dtype: float64

### Q18

In [106]:
data_df[['Y2018', 'Element']].groupby('Element').sum().sort_values(by='Y2018', ascending=True).iloc[2]

Y2018    11833.56
Name: Protein supply quantity (g/capita/day), dtype: float64

### Q19

In [115]:
data_df.groupby(['Area', 'Element']).sum().loc[('Algeria', 'Import Quantity')].loc['Y2018']

36238.29

### Q20

In [46]:
data_df['Area'].nunique()

49